* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

p{
    color: gray;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.9rem;
}

.container{
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}





/*HERO SECTION*/
#hero .hero{
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    box-shadow: 5px 10px 10px gray;
}
/*END HERO SECTION*/





/*STORY SECTION*/
#story .story{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#story .story-info{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#story .story-info h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}
#story .story-couple{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#story .story-fiancee{
    border: 20px solid white;
}
#story .story-engaged{
    border: 20px solid white;
}
#story .story-icons{
    cursor: pointer;
}
/*END STORY SECTION*/




/*GALLERY SECTION*/
#gallery .gallery{
    flex-direction: column;
    max-width: 1200px;
    margin: 100px auto;
}
#gallery .gallery-info{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gallery .gallery-info h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}
#gallery .gallery-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#gallery .gallery-img-card{
    padding: 30px;
}
#gallery .gallery-img-card:hover{
    transform: scale(1.5);
    transition: ease 3s scale;
}
/*GALLERY SECTION*/