@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Courgette', cursive;
}
p {
    color: #888888;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.9rem;
    margin-top: 20px;
}

.container{
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}



/*HERO SECTION*/
#hero {
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 10px #888888;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 2;
    opacity: .12;
}
/*END HERO SECTION*/


/*STORY SECTION*/
#story .story{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0;
}
#story .story-title h1{
    margin-bottom: 30px;
    font-size: 50px;
}
#story .all-story{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}
#story .story-couple{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#story .story-engaged{
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
#story .story-fiancee{
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/*END STORY SECTION*/
